body{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    height: 100vh;
}

.container{
    position: relative;
    background-color: white;
    height: 450px;
    width: 350px;
    top: 150px;
    left: 550px;
    border-radius: 10px;
    align-content: center;
    justify-items: center;
}

.cards{
    display: inline-flex;
    background-color: gray;
    border-radius: 5px;
    height: 70px;
    width: 60px;
}

.skill strong{
    justify-content: center;
}

.date{
    display: flex;
}
